<div class="container-list">
  <h1>Lista</h1>

  <form autocomplete="off">
    <!-- Campo de nombre -->
    <label for="name">Nombre</label>
    <input type="text" id="name" />
    <div class="mns-valid"></div>

    <!-- Campo de price -->
    <label for="price">Precio</label>
    <input type="text" id="price" />
    <div class="mns-valid"></div>

    <!-- Campo de stock -->
    <label for="stock">Stock</label>
    <input type="text" id="stock" />
    <div class="mns-valid"></div>

    <!-- Mark-->
    <label for="mark">Marca</label>
    <input type="text" class="data-validation" id="mark" />
    <div class="mns-valid"></div>

    <!-- Campo de category -->
    <label for="category">Categoría</label>
    <input type="text" id="category" />
    <div class="mns-valid"></div>

    <!-- Campo de details -->
    <label for="details">Detalles</label>
    <input type="text" id="details" />
    <div class="mns-valid"></div>

    <!-- Campo de photo -->
    <!-- <label for="photo">Foto</label>
    <input type="text" id="photo" />
    <div></div> -->

    <div id="drop-area">
      <p>
        Subir imagen al servidor con <b>file dialog</b> o con
        <b>drag and drop</b> dentro del área punteada
      </p>

      <input type="file" id="photo" accept="image/*" /><label
        class="button"
        for="photo"
        >File Dialog</label
      >
      <progress id="progress-bar" max="100" value="0"></progress>
      <div id="gallery">
        <img src="" alt="" />
      </div>
    </div>

    <!-- Campo de send -->
    <label for="send">Envío</label>
    <input type="checkbox" id="send" />
    <div class="mns-valid"></div>

    <button>Agregar</button>
  </form>

  <hr />
  <h2>Listado</h2>
  <hr />

  <div id="list-products"></div>
</div>
